.my-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.text a {
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: gray;
  text-underline-offset: 0.25rem;
  line-height: inherit;
  color: black;

  &:hover {
    text-decoration-color: black;
  }
}
@media (max-width: 768px) {
  .my-img {
    margin-bottom: 2rem;
  }
  .text {
    text-align: center;
  }
  .buttons {
    margin-top: 2rem;
    justify-content: center !important;
  }
}
