/*Contact Section*/
.contact {
  max-width: 600px;
  margin: auto;
  text-align: center;
  padding: 20px;
}
.contact h1 {
  font-size: 2rem;
}
.contact .description {
  margin-bottom: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  width: 100%;
}
.contact-form button {
  padding: 12px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background: gray;
  }
}

@media (max-width: 480px) {
  .contact {
    padding: 10px;
  }
}
